
/* Normalize.css minified */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
*{
  box-sizing: border-box;
}

.video{
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.video-container{
  position: relative;
  z-index: 2;
}

.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-caption {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 13vw;
  text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.testimonial_container{
	height: 940px;
  position: relative;
  z-index: 2;
}

.seperator{
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
	height: 200px;
	top: 42px;
  margin-top: -51px;
	background: black;
	position: relative;
}

.seperator2{
	-webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
	height: 186px;
	bottom: 45px;
	background: black;
	position: relative;

}

.graffiti-background{
		background-image: url("https://i.imgur.com/7BieZt7.jpg");
    height: 600px;
		display: flex;
		flex-direction: column;
		justify-content:center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial_box{
	top: 24px;
	position: relative;
	border-radius: 10px;
	width: 80%;
	margin: 0 auto;
	height: 200px;
	background-color: white;
	-webkit-box-shadow: 6px 6px 14px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 14px -5px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 14px -5px rgba(0,0,0,0.75);
	display: flex;

}

.testimonials_heading {
   color: white;
   font-size: 10vw;
   z-index: 1;
   margin: 0 auto;
   position: relative;
   bottom: 290px;
   display: flex;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding-top: 140px;
}

.nav-item {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #161616;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.container2{
  background: rgb(255, 255, 255);
  /* border: 1px red solid; */
  max-width: 64rem;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;


}

.container2 p {
font-size: 1.3rem;
color: #0c0d0C;
display: block;
line-height: 1.5;
margin: 0 auto;
padding: 6.5rem 5.8rem;
font-family: 'Roboto', sans-serif;

}
.container2 img{
  width: 100%;
  max-width: 65%;
  min-width: 400px;
  margin: 0 auto;
  border: 10px #fbc8ef solid;
}
.img-caption1{
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: rgb(96, 96, 96);
}


.container3{
  background: rgb(255, 255, 255);
  /* border: 1px red solid; */
  max-width: 64rem;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;


}

.container3 p {
font-size: 1.3rem;
color: #0c0d0C;
display: block;
line-height: 1.5;
margin: 0 auto;
padding: 6.5rem 5.8rem;
font-family: 'Roboto', sans-serif;

}
.container3 img{
  width: 100%;
  max-width: 10%;
  min-width: 200px;
  margin: 0 auto;
  border: 10px #fbc8ef solid;

}

.container4{
  background: rgb(255, 255, 255);
  /* border: 1px red solid; */
  max-width: 64rem;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;


}
.container4 p {
font-size: 1.3rem;
color: #0c0d0C;
display: block;
line-height: 1.5;
margin: 0 auto;
padding: 6.5rem 5.8rem;
font-family: 'Roboto', sans-serif;

}
.container4 img{
  width: 100%;
  max-width: 40%;
  min-width: 200px;
  margin: 0 auto;
  border: 10px #fbc8ef solid;

}
.coding-container{
border-bottom: 2px solid #00ffa3;
}
.reflections-container{
border-top: 2px solid #00ffa3;
}
.container5{
  background: #17263c;
  margin-left: 160px;
  display: flex;
  flex-direction: column;

}

.container-p{
  color: #EFDAB9;
  font-size: 1.3rem;
  display: block;
  line-height: 1.5;
  margin: 0 auto;
  padding: 6.5rem 5.8rem;
  font-family: 'Roboto', sans-serif;

}

#map {
        height: 500px;
        width: 80%;
        margin: 0 auto;
        border: 1px solid #4adbc8;
      }

.gm-style img {
        max-width: 300px !important;
        /* margin: 0 auto; */
      }

.nav-num{
  font-family: 'Roboto Mono', monospace;
  color: #d04040;

}

.container6{
  height: 1000px;
}


.rainbow{
  text-decoration: none;
  color: rgb(0, 255, 163);
}

.red{
color: rgb(238, 62, 62)
}
.blue{
  color: rgb(91, 156, 203)
}
.rainbow:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}












@media only screen and (max-width: 1350px) {

  .sidenav {
    display: none;

  }
  .container5{
    margin-left: 0;
    margin: 0rem auto;


  }
}
